<form (ngSubmit)="save()">
  <technical-data (selectedStair)='onStair($event)'></technical-data>
  <stairs-measure *ngIf="stair == 'measure'" (notifyTotal)='totalStair($event)'></stairs-measure>
  <stairs-kit *ngIf="stair == 'kit'"></stairs-kit>
  <stairs-esc *ngIf="stair == 'esc'"></stairs-esc>
  <div class="card-deck-wrapper">
    <div class="card-deck">
      <services class="card card-block" (notifyTotal)='totalService($event)'></services>
      <transport class="card card-block"></transport>
    </div>
  </div>
  <div class="card-deck-wrapper">
    <div class="card-deck">
      <observation class="card card-block"></observation>
      <div>
        <subtotal class="card card-block col-sm-12 subtotal"></subtotal>
        <total class="card card-block col-sm-12" [total]="total"></total>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
