<div [formGroup]="stairForm">
  <div class="card card-block">
    <h4 class="card-title">Escalera</h4>
    <div class="form-group row">
      <label for="inputCant" class="col-sm-2 col-form-label">Cantidad escaleras</label>
      <div class="col-sm-1">
        <input type="number" id="inputCant" min="1" class="form-control" formControlName="cant">
      </div>
      <label for="inputModel" class="col-sm-2 col-form-label">Modelo escalera</label>
      <div class="col-sm-7">
        <select class="form-control custom-select"  id="inputModel" formControlName="model" (change)="loadDataModel($event)">
          <option value="{{model.id}}" *ngFor="let model of populateModels">{{model.name}}</option>
        </select>
        <small [hidden]="stairForm.controls.model.valid || !isSubmit"><i aria-hidden="true" class="fa fa-times"></i> {{emptyField}}</small>
      </div>
    </div>
  </div>
  <div class="card card-block" formArrayName="structures">
    <h4 class="card-title">Estructuras</h4>
    <div class="form-group row labels-group">
      <label class="col-sm-1 col-form-label">#</label>
      <label class="col-sm-1 col-form-label">Cant</label>
      <label class="col-sm-4 col-form-label">Tipo estructura</label>
      <label class="col-sm-3 col-form-label">Acabado estructura</label>
      <label class="col-sm-3 col-form-label">Precio</label>
    </div>
    <div class="form-group row" [formGroupName]="e" *ngFor="let structure of stairForm.controls.structures.controls; let e=index">
      <structure-input [group]="structure" [dataStructure]="populateStructure" [index]="e" (getControlRow)="removeRow($event)"></structure-input>
    </div>
    <button (click)="addRow('structures')" type="button" class="btn btn-primary">Agregar fila <i class="fa fa-plus-circle" aria-hidden="true"></i></button>    
    <h5 class="subtotal-title">Subtotal: {{subTotalStructures | formatprice}} €</h5>
  </div>
  <div class="card card-block" formArrayName="treads">
    <h4 class="card-title">Peldaños y Contrahuellas</h4>
    <div class="form-group row labels-group">
      <label class="col-sm-1 col-form-label">#</label>
      <label class="col-sm-1 col-form-label">Cant</label>
      <label class="col-sm-3 col-form-label">Tipo Peldaño</label>
      <label class="col-sm-2 col-form-label">Acabado</label>
      <label class="col-sm-2 col-form-label">Ancho</label>
      <label class="col-sm-2 col-form-label">Precio</label>
    </div>
    <div class="form-group row" [formGroupName]="i" *ngFor="let tread of stairForm.controls.treads.controls; let i=index">
      <tread-input [group]="tread" [dataTread]="populateTreadName" [index]="i" (getControlRow)="removeRow($event)"></tread-input>
    </div>
    <button (click)="addRow('treads')" type="button" class="btn btn-primary">Agregar fila <i class="fa fa-plus-circle" aria-hidden="true"></i></button>
    <h5 class="subtotal-title">Subtotal: {{subTotalTreads | formatprice}} €</h5>
  </div>
  <div class="card-deck-wrapper">
    <div class="card-deck">
      <div class="card card-block" formGroupName="railing">
        <h4 class="card-title">Baranda escalera por peldaño</h4>
        <div class="form-group row">
          <label for="inputModelRailing" class="col-sm-3 col-form-label">Modelo</label>
          <div class="col-sm-9">
            <select class="form-control custom-select" id="inputModelRailing" formControlName="model">
              <option value="{{model.id}}" *ngFor="let model of populateModelsRailing">{{model.name}}</option>
            </select>
            <small [hidden]="stairForm.controls.railing.controls.model.valid || !isSubmit"><i aria-hidden="true" class="fa fa-times"></i> {{emptyField}}</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputRailing" class="col-sm-3 col-form-label">Pasamano</label>
          <div class="col-sm-9">
            <select class="form-control custom-select" id="inputRailing" formControlName="railing">
              <option>Madera</option>
              <option>Inox</option>
            </select>
            <small [hidden]="stairForm.controls.railing.controls.railing.valid || !isSubmit"><i aria-hidden="true" class="fa fa-times"></i> {{emptyField}}</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputFinishRailing" class="col-sm-3 col-form-label">Acabado</label>
          <div class="col-sm-9">
            <select class="form-control custom-select" id="inputFinishRailing" formControlName="finish">
              <option>Pintado</option>
              <option>Inox</option>
            </select>
            <small [hidden]="stairForm.controls.railing.controls.finish.valid || !isSubmit"><i aria-hidden="true" class="fa fa-times"></i> {{emptyField}}</small>
          </div>
        </div>
        <h5 class="card-title">Configuración recta</h5>
        <div class="form-group row">
          <label for="inputCantStraight" class="col-sm-3 col-form-label">Cantidad</label>
          <div class="col-sm-6">
            <input type="number" min="1" class="form-control" placeholder="mm" id="inputCantStraight" formControlName="cantStraight">
            <small [hidden]="stairForm.controls.railing.controls.cantStraight.valid || !isSubmit"><i aria-hidden="true" class="fa fa-times"></i> {{emptyField}}</small>
          </div>
          <div class="col-sm-3">
            <strong>{{subTotalRailingStraight | formatprice}} €</strong>
          </div>
        </div>
        <h5 class="card-title">Configuración curva</h5>
        <div class="form-group row">
          <label for="inputCantCurve" class="col-sm-3 col-form-label">Cantidad</label>
          <div class="col-sm-6">
            <input type="number" min="1" class="form-control" placeholder="mm" id="inputCantCurve" formControlName="cantCurve">
            <small [hidden]="stairForm.controls.railing.controls.cantCurve.valid || !isSubmit"><i aria-hidden="true" class="fa fa-times"></i> {{emptyField}}</small>
          </div>
          <div class="col-sm-3">
            <strong>{{subTotalRailingCurve | formatprice}} €</strong>
          </div>
        </div>
        <h5 class="subtotal-title">Subtotal: {{subTotalRailing | formatprice}} €</h5>
      </div>
      <div class="card card-block" formGroupName="guardrail">
        <h4 class="card-title">Baranda Cerramiento</h4>
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" formControlName="activeGuardrail" (change)="checkGuardrail()">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Agregar baranda de protección</span>
        </label>
        <div class="form-group row">
          <label for="inputModelGuardrail" class="col-sm-3 col-form-label">Modelo</label>
          <div class="col-sm-9">
            <select class="form-control custom-select" id="inputModelGuardrail" formControlName="model">
              <option value="{{model.name}}" *ngFor="let model of populateModelsRailing">{{model.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputGuardrailRailing" class="col-sm-3 col-form-label">Pasamano</label>
          <div class="col-sm-9">
            <select class="form-control custom-select" id="inputGuardrailRailing" formControlName="railing">
              <option>Madera</option>
              <option>Inox</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputFinishGuardrail" class="col-sm-3 col-form-label">Acabado</label>
          <div class="col-sm-9">
            <select class="form-control custom-select" id="inputFinishGuardrail" formControlName="finish">
              <option>Pintado</option>
              <option>Inox</option>
            </select>
          </div>
        </div>
        <h5 class="card-title">Configuración recta</h5>
        <div class="form-group row">
          <label for="inputCantStraightGuardrail" class="col-sm-3 col-form-label">Cantidad</label>
          <div class="col-sm-6">
            <input type="number" min="1" class="form-control" placeholder="mm" id="inputCantStraightGuardrail" formControlName="cantStraight">
          </div>
          <div class="col-sm-3">
            <strong>{{subTotalGuardrailStraight | formatprice}} €</strong>
          </div>
        </div>
        <h5 class="card-title">Configuración curva</h5>
        <div class="form-group row">
          <label for="inputCantCurveGuardrail" class="col-sm-3 col-form-label">Cantidad</label>
          <div class="col-sm-6">
            <input type="number" min="1" class="form-control" placeholder="mm" id="inputCantCurveGuardrail" formControlName="cantCurve">
          </div>
          <div class="col-sm-3">
            <strong>{{subTotalGuardrailCurve | formatprice}} €</strong>
          </div>
        </div>
        <h5 class="subtotal-title">Subtotal: {{subTotalGuardrail | formatprice}} €</h5>
      </div>
    </div>
  </div>
  <div class="card card-block" formArrayName="accessories">
    <h4 class="card-title">Accesorios y Suplementos</h4>
    <div class="form-group row labels-group">
      <label class="col-sm-1 col-form-label">Cant</label>
      <label class="col-sm-3 col-form-label">Accesorio</label>
      <label class="col-sm-2 col-form-label">Aplicar a</label>
      <label class="col-sm-2 col-form-label">#</label>
      <label class="offset-sm-1 col-sm-3 col-form-label">Precio</label>
    </div>
    <div class="form-group row" [formGroupName]="e" *ngFor="let accessorie of stairForm.controls.accessories.controls; let e=index">
      <div class="col-sm-1">
        <input type="number" min="1" class="form-control" formControlName="cant">
        <small [hidden]="accessorie.controls.cant.valid || !isSubmit"><i aria-hidden="true" class="fa fa-times"></i></small>
      </div>
      <div class="col-sm-3">
        <select class="form-control custom-select" formControlName="accessorieName">
          <option value="{{accessorie.name}}" *ngFor="let accessorie of populateAccessories">{{accessorie.name}}</option>
        </select>
        <small [hidden]="accessorie.controls.accessorieName.valid || !isSubmit"><i aria-hidden="true" class="fa fa-times"></i> {{emptyField}}</small>
      </div>

      <div class="col-sm-2">
        <select class="form-control custom-select" formControlName="type" (change)="checkApply(accessorie, e)">
          <option value="structures">Estructura</option>
          <option value="treads">Peldaños</option>
          <option value="railing">Baranda</option>
        </select>
      </div>

      <div class="col-sm-2">
        <select class="form-control custom-select" formControlName="id" *ngIf="accessorie.controls.type.value != 'railing'">
          <option value="{{f}}" *ngFor="let item of stairForm.controls[accessorie.controls.type.value]['controls']; let f=index">{{f + 1}}</option>
        </select>
      </div>

      <div class="col-sm-1">
        <select class="form-control custom-select" formControlName="unitPrice">
          <option value="eur">€</option>
          <option value="porc">%</option>
        </select>
      </div>

      <div class="col-sm-2">
        <input type="hidden" formControlName="price">
        <strong>{{stairForm.value.accessories[e].price | formatprice}} €</strong>
      </div>

      <div class="col-sm-1">
        <button (click)="removeRow(e, 'accessories')" type="button" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i></button>
      </div>
    </div>
    <button (click)="addRow('accessories')" type="button" class="btn btn-primary">Agregar fila <i class="fa fa-plus-circle" aria-hidden="true"></i></button>
    <h5 class="subtotal-title">Subtotal: {{subTotalAccessories | formatprice}} €</h5>
  </div>
</div>

