<form (ngSubmit)="save()">
  <technical-data (selectedStair)='onStair($event)'></technical-data>
  <stairs-measure *ngIf="stair == 'measure'" (notifyTotal)='totalStair($event)'></stairs-measure>
  <stairs-kit *ngIf="stair == 'kit'" (notifyTotal)='totalStair($event)'></stairs-kit>
  <stairs-esc *ngIf="stair == 'esc'" (notifyTotal)='totalStair($event)'></stairs-esc>
  <div class="card-deck-wrapper">
    <div class="card-deck">
      <services class="card card-block" (notifyTotal)='totalService($event)'></services>
      <transport class="card card-block" (notifyTotal)='totalTransport($event)'></transport>
    </div>
  </div>
  <extras class="card card-block" (notifyTotal)='totalExtras($event)'></extras>
  <observation class="card card-block"></observation>
  <div class="card-deck-wrapper">
    <div class="card-deck">
      <subtotal class="card card-block" [subTotalsAndExtras]="subTotalsAndExtras" (notifyDiscount)='totalDiscount($event)'></subtotal>
      <total class="card card-block" [total]="total"></total>
    </div>
  </div>
  <div class="buttons-bottom">
    <a (click)="printPDF()" class="btn btn-primary button-print">Imprimir</a>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </div>
</form>
