<div [formGroup]="stairForm">
  <div class="card card-block">
    <h4 class="card-title">Escalera</h4>
    <div class="form-group row">
      <label for="inputModel" class="col-sm-2 col-form-label">Modelo escalera</label>
      <div class="col-sm-10">
        <select class="form-control custom-select"  id="inputModel" formControlName="model" (change)="loadDataModel($event)">
          <option value="{{model.id}}" *ngFor="let model of populateModels">{{model.name}}</option>
        </select>
        <small [hidden]="stairForm.controls.model.valid || !isSubmit"><i aria-hidden="true" class="fa fa-times"></i> {{emptyField}}</small>
      </div>
    </div>
    <h4 class="card-title">Datos técnicos</h4>
    <div class="form-group row">
      <label for="inputMeasure" class="col-sm-2 col-form-label">Medida</label>
      <div class="col-sm-10">
        <select class="form-control custom-select" id="inputMeasure" formControlName="measure">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <small [hidden]="stairForm.controls.measure.valid || !isSubmit"><i aria-hidden="true" class="fa fa-times"></i> {{emptyField}}</small>
      </div>
    </div>
  </div>
  <div class="card card-block" formArrayName="accessories">
    <h4 class="card-title">Accesorios y Suplementos</h4>
    <div class="form-group row labels-group">
      <label class="col-sm-1 col-form-label">Cant</label>
      <label class="col-sm-8 col-form-label">Accesorio</label>
      <label class="col-sm-2 col-form-label">Precio</label>
    </div>
    <div class="form-group row" [formGroupName]="e" *ngFor="let accessorie of stairForm.controls.accessories.controls; let e=index">
      <div class="col-sm-1">
        <input type="number" min="1" class="form-control" formControlName="cant">
      </div>
      <div class="col-sm-8">
        <select class="form-control custom-select" formControlName="accessorieName">
          <option value="{{accessorie.id}}" *ngFor="let accessorie of populateAccessories">{{accessorie.name}}</option>
        </select>
        <small [hidden]="accessorie.controls.accessorieName.valid || !isSubmit"><i aria-hidden="true" class="fa fa-times"></i> {{emptyField}}</small>
      </div>

      <div class="col-sm-2">
        <input type="hidden" formControlName="price">
        <strong>{{stairForm.value.accessories[e].price | formatprice}} €</strong>
      </div>

      <div class="col-sm-1">
        <button (click)="removeRow(e)" type="button" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i></button>
      </div>
    </div>
    <button (click)="addRow()" type="button" class="btn btn-primary">Agregar fila <i class="fa fa-plus-circle" aria-hidden="true"></i></button>
    <h5 class="subtotal-title">Subtotal: {{subTotalAccessories | formatprice}} €</h5>
  </div>
  <modal-loading></modal-loading>
</div>
