<form (ngSubmit)="save()">
  <technical-data (selectedStair)='onStair($event)'></technical-data>
  <stairs-measure *ngIf="stair == 'measure'" (notifyTotal)='totalStair($event)'></stairs-measure>
  <stairs-kit *ngIf="stair == 'kit'"></stairs-kit>
  <stairs-esc *ngIf="stair == 'esc'"></stairs-esc>
  <div class="card-deck-wrapper">
    <div class="card-deck">
      <services class="card card-block" (notifyTotal)='totalService($event)'></services>
      <transport class="card card-block" (notifyTotal)='totalTransport($event)'></transport>
    </div>
  </div>
  <div class="card-deck-wrapper">
    <div class="card-deck">
      <extras class="card card-block" (notifyTotal)='totalExtras($event)'></extras>
      <observation class="card card-block"></observation>
    </div>
  </div>
  <div class="card-deck-wrapper">
    <div class="card-deck">
      <subtotal class="card card-block"></subtotal>
      <total class="card card-block" [total]="total"></total>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
