.logo {
  margin: 10px 0;
  width: 340px;
}

stairs-data {
  form {
    .labels-group {
      border-bottom: 1px solid #e0e0e0;
    }
  }

  .subtotal {
    margin-bottom: 1rem!important;
  }

  .subtotal-title {
    text-align: right;
  }

  .total-title {
    text-align: center;
  }

  textarea {
    resize: none;
  }
}
