.logo {
  margin: 8px 0;
  width: 340px;
}

stairs-data {
  form {
    .labels-group {
      border-bottom: 1px solid #e0e0e0;
    }
  }

  .subtotal-title {
    float: right;
    margin-top: 18px;
  }

  .total-title {
    text-align: center;
    margin-top: 3rem;
    font-size: 3rem;
  }

  textarea {
    resize: none;
  }

  .addRow {
    color: #fff;

  }

  .subtotal-desc {
    float: left;
    width: 80px;

    &.small{
      width: 56px;
    }
  }

  small {
    color: #d9534f;
  }
}
