/* ==========================================================================
	Print Styles
    ========================================================================== */
    
@media print {
    html, body {
		min-height: auto;
		height: auto;
    }
    
    @page {
		size: 297mm 420mm;
    }
    
    .container {
        width: 100%;
    }

    .card-block, .card-deck-wrapper {
        page-break-inside: avoid;
    }

    technical-data .custom-control.custom-radio, guardrail-form .custom-control.custom-checkbox {
        padding-left: 0;

        .custom-control-input, .custom-control-indicator {
            display: none;
        }
    }

    .form-control {
        padding-left: 0;
        padding-right: 0;
        height: auto!important;
        min-height: auto!important;
        white-space: normal;
        align-items: flex-start;
    }

    stairs-data .subtotal-desc {
        width: 42px;
        padding-left: 0;
        padding-right: 0;
    }

    .custom-control-input:checked~.custom-control-indicator + .custom-control-description {
        color: red;
    }
    
    .form-control, .input-group-addon {
        border: none;
    }

    .input-group-addon {
        background: #fff;
    }

    .btn {
        display: none;
    }
}